@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.menu-bar {
    background-image: linear-gradient(to left top, #adadad, #ffffff);
    box-shadow: 3px 1.5px 1.5px black;
}

.bg-borda {
    box-shadow: 3px 1.5px 1.5px black;
}

.btn-cor {
    border: 1px solid #7a0d09;
    background-color: #941510;
    transition: 0.3s;
    color: white;
}

.btn-cor:hover {
    background-color: #630805;
    transition: 0.3s;
}

.nav-link {
    font-size: 20px;
    margin: 3px;
    color: #000;
    font-weight: 500;
    transition: 0.3s;
}

.navbar-nav {
    text-align: right;
    margin-right: 20px;
}

.menu-bar .navbar-toggle {
    padding-right: 20px;
    outline: none;
    border: none;
}

.nav .fa {
    color: #000;
    font-size: 26px;
}

.nav-link:hover {
    transition: 0.3s;
    color: #630805;
    font-weight: 600;
    border-bottom: 1px solid #630805;
}

#bg-font {
    color: black;
    transition: 0.3s;
    font-family: Roboto;
    font-size: 3vh;
    margin: 3px;
    color: #000;
    font-weight: 500;
}

#bg-font:hover {
    color: #941510;
    transition: 0.3s;
}

.bg-bord {
    border-radius: 50%;
}

.img-banner {
    height: 30rem;
    min-height: 30rem;
    max-height: 30rem;
    width: 100%;
    object-fit: cover;
}

.bg-pesquisar {
    transition: 0.2s;
}

.bg-pesquisar:hover {
    transition: 0.2s;
}

.btn-noticias {
    background-image: linear-gradient(to left top, #3073aa, #0878d4);
}

.btn-noticias:hover {
    background-image: linear-gradient(to left top, #1e5685, #065a9e);
}

.bg-footer {
    background-image: linear-gradient(to left top, #db1e1e, #c54a4a)
}

#redes {
    color: white;
    align-items: center;
    transition: 0.3s;
    font-size: 30px;
}

#redes:hover {
    color: rgb(126, 126, 126);
    transition: 0.3s;
}

.bg-red {
    background-image: linear-gradient(to left top, #db1e1e, #c54a4a)
}

.bg-title {
    font-family: Roboto;
    color: #941510;
    text-align: center;
    font-size: 7vh;
    -webkit-text-stroke: #7a0d09 2px;
}

.bg-title2 {
    font-family: Roboto;
    color: black;
    font-size: 7vh;
    margin-left: 5vh;
}

.btn-botao {
    font-size: 17px;
    color: white;
    font-family: Roboto;
    align-items: center;
    background-color: #941510;
    border: 1px solid #7a0d09;
    border-radius: 7px;
    transition: 0.3s;
}

.btn-botao:hover {
    transition: 0.3s;
    background-color: #630805;
    color: white;
}

.bg-copyright {
    font-family: Poppins;
    font-size: 18px;
}

#teste {
    padding-left: 10 0px;
    justify-content: space-around;
}

.bg-space {
    padding-left: 50px;
}

.bg-dropdown {
    background: #ffffff;
    color: #941510;
    transition: 0.3s;
}

.bg-dropdown:hover {
    background: #2682ce;
    color: white;
    transition: 0.3s
}

.d {
    line-height: 0.9em;
    text-decoration: none;
    font-size: 1vh;
    font-family: Poppins;
}

.d::after {
    content: '';
    width: 388px;
    height: 2px;
    display: block;
    background: #941510;
}

.d2 {
    line-height: 0.9em;
    text-decoration: none;
    font-size: 1vh;
    font-family: Poppins;
}

.d2::after {
    content: '';
    width: 250px;
    height: 2px;
    display: block;
    background: #941510;
    transition: 300ms;
}

.lin-banner {
    height: 40rem;
    min-height: 40rem;
    max-height: 40rem;
    width: 100%;
    object-fit: cover;
}

.contato {
    font-size: 20px;
    font-family: Roboto;
    color: white;
}

.meios {
    font-size: 17px;
    font-family: Poppins;
    color: white;
}

#cont {
    font-size: 22px;
}

#watts {
    font-size: 25px;
}

#bg-dens {
    text-decoration: none;
    font-size: 15px;
    font-family: Roboto;
    color: rgb(133, 133, 133);
}