@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.bg-menu {
    box-shadow: 2px 1px 1px black;
}

.btn-cor {
    border: 1px solid #7a0d09;
    background-color: #941510;
    transition: 0.3s;
    color: white;
}

.btn-cor:hover {
    background-color: #630805;
    transition: 0.3s;
}

#font {
    font-family: Poppins;
    font-size: 1rem;
    color: black;
    align-items: center;
    transition: 0.3s;
}

#font:hover {
    transition: 0.3s;
    color: #941510;
}

#home {
    font-family: Poppins;
    font-size: 1rem;
    color: #941510;
    align-items: center;
    transition: 0.3s;
}

#home:hover {
    transition: 0.3s;
    color: black;
}

#font-icon {
    font-family: Roboto;
    font-size: 2rem;
    color: black;
    align-items: center;
    transition: 0.3s;
}

#font-icon:hover {
    transition: 0.3s;
    color: #941510;
}

.bg-bord {
    border-radius: 50%;
}

.bg-drop {
    font-family: Poppins;
    color: #000000;
    transition: 0.3s;
}

.bg-drop:hover {
    color: white;
    background-color: #2682ce;
    transition: 0.3s;
}

.img-banner {
    height: 35rem;
    min-height: 35rem;
    max-height: 35rem;
    width: 100%;
    object-fit: cover;
}

.bg-pesquisar {
    transition: 0.2s;
}

.bg-pesquisar:hover {
    transition: 0.2s;
}

.btn-noticias {
    background-image: linear-gradient(to left top, #3073aa, #0878d4);
}

.btn-noticias:hover {
    background-image: linear-gradient(to left top, #1e5685, #065a9e);
}

.bg-footer {
    background: #444444;
}

.bg-importante {
    font-size: 18px;
    font-family: Roboto;
    color: white;
    margin: 0px 50px;
}

.links {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    margin: 0px 50px;
}

#mar {
    margin: 0px 50px;
}

.ico {
    color: #c54a4a;
}

.links:hover {
    color: #941510;
    text-decoration: none;
    transition: all 0.3s;
}

.btn-rede {
    background: #415561;
    color: white;
    border-radius: 50%;
    transition: all 0.3s;
}

#cor {
    color: #415561;
}

.btn-rede:hover {
    background: #941510;
    transition: all 0.3s;
}

.bg-red {
    background-image: linear-gradient(to left top, #db1e1e, #c54a4a)
}

.bg-title {
    font-family: Roboto;
    color: #941510;
    text-align: center;
    font-size: 7vh;
    -webkit-text-stroke: #7a0d09 2px;
}

.bg-title2 {
    font-family: Roboto;
    color: black;
    font-size: 7vh;
    margin-left: 5vh;
}

.btn-botao {
    font-size: 17px;
    color: white;
    font-family: Roboto;
    align-items: center;
    background-color: #941510;
    border: 1px solid #7a0d09;
    border-radius: 7px;
    transition: 0.3s;
}

.btn-botao:hover {
    transition: 0.3s;
    background-color: #630805;
    color: white;
}

#teste {
    padding-left: 10 0px;
    justify-content: space-around;
}

.bg-space {
    padding-left: 50px;
}

.bg-dropdown {
    background: #ffffff;
    color: #941510;
    transition: 0.3s;
}

.bg-dropdown:hover {
    background: #2682ce;
    color: white;
    transition: 0.3s
}

.d {
    line-height: 0.9em;
    text-decoration: none;
    font-size: 1vh;
    font-family: Poppins;
}

.d::after {
    content: '';
    width: 50px;
    height: 3px;
    display: block;
    background: #941510;
}

.lin-banner {
    height: 40rem;
    min-height: 40rem;
    max-height: 40rem;
    width: 100%;
    object-fit: cover;
}

.contato {
    font-size: 20px;
    font-family: Roboto;
    color: white;
}

.bg-dens {
    text-decoration: none;
    font-size: 2vh;
}

#bg-dens {
    text-decoration: none;
}

.meios {
    font-size: 17px;
    font-family: Poppins;
    color: white;
}

#cont {
    font-size: 22px;
}

#watts {
    font-size: 25px;
}

.btn-botaoform {
    font-size: 17px;
    color: #941510;
    font-family: Roboto;
    align-items: center;
    background-color: #ffffff;
    border-radius: 7px;
    transition: 0.3s;
}

.btn-botaoform:hover {
    transition: 0.3s;
    background-color: #630805;
    color: white;
}